<main class="mt-12 px-5 2xl:px-16">
  <div class="card-wrap grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">

  @for(course of Courses; track Courses){
    <div class="card border border-white shadow-2xl mt-6 mb-6 rounded-md px-12 py-5">
        <p class="w-full text-center text-[2rem] leading-9 mb-4 font-bold">{{course.description}}</p>
        <img
          [src]="course.iconUrl"
          alt=""
          class="ml-auto mr-auto"
        />
        <p class="text-center font-medium mt-4 leading-5">
          {{course.longDescription}}
        </p>
      </div>
  }
    

  </div>
</main>
